node_modules/
lib/
*.ts
tsconfig.json
nodemon.json
images/
logs/
.github/
.env
.gitignore
checkSimilarity.js
dist/webCode.js
dist/webCode.js.map
.dockerignore
DockerFile
agentConfig.json
dist/test/
dist/python